/* .background-parent {
    width: 100%;
    height: 100%;
}

.background {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, .75), rgba(255, 255, 255, .75)), url(../img/pareja_02.jpg);
}
 */

.container-fluid {
    padding-left: 0;
}

.header {
    width: 100%;
    height: 500px;
}

.header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: .9;
}

.sacramento {
    font-family: 'Sacramento', cursive;
}

.josefin {
    font-family: 'Josefin Slab', serif;
}

.gruppo {
    font-family: 'Gruppo';
}

.tai {
    font-family: 'Tai Heritage Pro', serif;
}

.teko {
    font-family: 'Teko', sans-serif;
}

.dancing {
    font-family: 'Dancing Script', cursive;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.titulos-header {
    font-size: 22mm;
}

.titulos {
    font-size: 14mm;
}

.subtitulos {
    font-size: 12mm;
}

.sub-subtitulos {
    font-size: 10mm;
}

.sub-sub-subtitulos {
    font-size: 6mm;
}

.tiempo {
    font-size: 2rem;
}

.tiempo-detalle {
    font-size: 1rem;
}

.and {
    font-size: 1.5rem;
}

.novios {
    font-size: 3rem;
}

.carousel-item {
    width: 100%;
    height: 500px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}